
<div class="col-md-4 col-md-offset-4">
  <h2 class="text-center sign_up">Edit Chat</h2>

  <%= form_for(@conversation) do |f| %>
    <div class="form-group">
      <%= f.label :name, "Conversation Name" %>
      <%= f.text_field :name, :class => "form-control", :placeholder => "Conversation Name", :required => false %>
    </div>

    <div class="form-group">
      <%= f.label :users, "Add Contacts" %>
      <%= f.select(:users, options_for_select(@contacts_collection),{}, {class: 'chosen-select form-control', :multiple => true, :required=> true}) %>
    </div>

    <div class="form-group">
      <%= f.submit "Update Chat", :class => "btn btn-success btn-block" %>
    </div>
  <% end  %>
