<h2 class="text-center">Chats</h2>
<div class="list-group">
  <% @conversations.each do |conversation| %>
    <%= link_to(conversation_path(conversation), :class =>  "list-group-item") do %>

    <div class="recent_talkers">
      <% if conversation.messages.count < 4 %>
        <div class="avatar_small">
          <%= image_tag("avatar_missing.png") %>
        </div>
      <% else %>
        <% conversation.messages.last(4).each do |message| %>
          <div class="avatar_tiny">
              <%= image_tag(message.user.avatar.url(:thumb)) %>
          </div>
        <% end %>
      <% end %>

    </div>

    <div class="conversation_name">
      <% if conversation.name.present? %>
        <%= conversation.name %>
      <% else %>
          <% conversation.users.each do |u| %>
            <%= u.username unless u == @current_user %><%= "," unless u == @current_user || u == conversation.users.last %>
          <% end %>
      <% end %>
    </div>

    <% end %>


  <% end %>


<%= link_to new_conversation_path do %>
  <div class="circle_button_success">
    <%= fa_icon "plus" %>
  </div>
<% end %>
