<div class="list-group">
  <% @conversations.each do |conversation| %>
    <%= link_to(conversation_path(conversation), :class =>  "list-group-item") do %>

      <% conversation.users.first(3).each do |user| %>
        <div class="avatar_tiny">
          <%= image_tag(user.avatar.url) %>
        </div>
      <% end %>

      <% if conversation.name.present? %>
        <%= conversation.name %>
      <% else %>
          <% conversation.users.each do |u| %>
            <%= u.username %>,
          <% end %>
      <% end %>
    <% end %>


  <% end %>


<%= link_to new_conversation_path do %>
  <div class="circle_button_success">
    <%= fa_icon "plus" %>
  </div>
<% end %>
