<%= render :partial => 'messages' %>



  <%= link_to giph_select_path do %>
    <div class="circle_button_success second_button">
      <%= fa_icon "picture-o" %>
    </div>
  <% end %>

  <%= link_to new_giph_path :origin => 'conversation' do %>
    <div class="circle_button_success">
      <%= fa_icon "video-camera" %>
    </div>
  <% end %>

  <%= form_tag messages_path, :class => 'translate_form', :remote => false do %>


      <%= text_field_tag :gif_text, nil, :placeholder => "Translate", :required => true, :autocomplete => :off %>

      <div>
        <%= button_tag do %>
        <%= fa_icon "paper-plane" %>
        <% end %>
      </div>

  <%= hidden_field_tag 'source', 'translate' %>
  <% end %>
