<%= render :partial => 'messages' %>


  <div class="circle_button_success third_button">
    <%= fa_icon "pencil" %>
  </div>

  <%= link_to giph_select_path do %>
    <div class="circle_button_success second_button">
      <%= fa_icon "picture-o" %>
    </div>
  <% end %>

  <%= link_to new_giph_path :origin => 'conversation' do %>
    <div class="circle_button_success">
      <%= fa_icon "video-camera" %>
    </div>
  <% end %>

  <%= form_tag messages_path, :remote => false do %>
  <div class="msg_input_container">

    <div class="input-group">
      <%= text_field_tag :gif_text, nil, :placeholder => "Translate with Giphy", :required => true, :class => "form-control input-sm", :autocomplete => :off %>

      <span class="input-group-btn">
        <%= button_tag(:class => "btn btn-default btn-sm") do %>
        <%= fa_icon "paper-plane" %>
        <% end %>
      </span>

    </div>
  </div>
  <%= hidden_field_tag 'source', 'translate' %>
  <% end %>
