<h2 class="text-center">Record Giph</h2>

<div class="col-md-4 col-md-offset-4">
  <div class="video_container">
      <video autoplay="true" id="webcam_feed" class="make_gif_display">

      </video>
      <div class="gif_display">
      </div>

  </div>

  <button class="gif_record_button btn btn-success btn-lg btn-block" ><%= fa_icon "video-camera" %>
  </button>

  <%= form_for(@giph) do |f| %>
     <%= hidden_field_tag :require_send,  "true" if @origin == "conversation" %>
     <%= f.hidden_field :gif, :id => "gif_data" %>
     <%= f.button(:class => "gif_save_button btn btn-success btn-lg btn-block hidden") do %>
       <%= fa_icon 'save' %> <%= (@origin == "conversation") ? "Save and Send" : "Save" %>
     <% end %>
  <% end %>

  <button class="gif_discard_button btn btn-danger btn-lg btn-block hidden" ><%= fa_icon "trash" %> Discard
  </button>

  <h3>Options</h3>

  <div class="form-group">
    <%= label_tag "GIF Text:" %>
    <%= text_field_tag :gif_text, nil, :placeholder => "Say something", :class => "form-control input-sm" %>
  </div>
  <div class="form-group">
    <%= label_tag "Text Colour:" %>
    <%= color_field_tag :gif_text_color, '#ffffff', :class => "form-control input-sm" %>
  </div>
  <div class="form-group">
    <%= label_tag "Length:" %>
    <%= select_tag :gif_length, options_for_select([["1 Second", 10],["2 Seconds", 20], ["3 Seconds", 30]]), :class => "form-control input-sm" %>
  </div>
</div>
