<!DOCTYPE html>
<html>
  <head>
    <title>Gipht</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="static_sidebar">
        <div class="branding">
          .gipht
        </div>
    </div>
    </div>
    <div class="app_container <%= params[:controller]+"_"+params[:action] %>">

      <%= yield %>

      <nav id='navigation_controls' class="navbar navbar-default navbar-fixed-bottom" data-turbolinks-permanent>
          <ul>
            <a href="<%= conversations_path %>" class="col-xs-3 text-center <%= " selected" if controller_name == 'conversations' %>">
              <li><%= fa_icon "comments-o" %></li>
              <p class="logo_label">CHATS</p>
            </a>
            <a href="<%= contacts_path %>" class="col-xs-3 text-center <%= " selected" if controller_name == 'contacts' %>">
              <li><%= fa_icon "users" %></li>
              <p class="logo_label">CONTACTS</p>
            </a>
            <a href="<%= giphs_path %>" class="col-xs-3 text-center <%= " selected" if controller_name == 'giphs' %>">
              <li><%= fa_icon "picture-o" %></li>
              <p class="logo_label">MY GIFS</p>
            </a>
            <a href="<%= edit_user_path(@current_user) %>" class="col-xs-3 text-center <%= " selected" if controller_name == 'users' %>">
              <li><%= fa_icon "cogs" %></li>
              <p class="logo_label">SETTINGS</p>
            </a>
          </ul>
      </nav>
    </div>
  </body>
</html>
