<!DOCTYPE html>
<html>
  <head>
    <title>Gipht</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

    <nav id='navigation_controls' data-turbolinks-permanent>
      <ul>
        <a href="<%= conversations_path %>">
          <li></li>
        </a>
        <a href="<%= contacts_path %>">
          <li></li>
        </a>
        <a href="<%= giphs_path %>">
          <li></li>
        </a>
        <a href="<%= edit_user_path %>">
          <li></li>
        </a>
      </ul>
    </nav>

  </body>
</html>
